//font-family
$fl:"Inconsolata",sans-serif;
$ff: "Playfair Display" , sans-serif;
$fu: "Ubuntu" , sans-serif;

//font-size
$fz16: 16px;
$fz14: 14px;
$fz30: 30px;
$fz20: 20px;

//color
$primary: #000;
$secondary: #fff;
$menu:#626262;
$post:#b4ad9e;
$background: #f0f0f0;
$newsletter: #333;